<h1>Engineers</h1>
<a class="btn btn-default" href="/engineers/new">New Engineer</a>

<%= for engineer <- @engineers do %>
  <h3>
    <%= link to: engineer_path(@conn, :show, engineer) do %>
      <%= engineer.name %>
    <% end %>
  </h3>
  <p>
    Email: <%= engineer.email %>
  </p>
  <p>
    Phone: <%= engineer.phone %>
  </p>

  <p>
    <%= link "Delete", to: engineer_path(@conn, :delete, id: engineer.id), method: :delete %>
  </p>
<% end %>
