<h1>Engineers</h1>
<a class="btn btn-default" href="/engineers/new">New Engineer</a>

<%= for engineer <- @engineers do %>
  <h3><%= engineer.name %></h3>
  <p>
    Email: <%= engineer.email %>
  </p>
  <p>
    Phone: <%= engineer.phone %>
  </p>
<% end %>
