<a href="/engineers">Back to engineers</a>

<h1><%= @engineer.name %></h1>

<%= link to: engineer_path(@conn, :edit, @engineer) do %>
  Edit
<% end %>

<p>
  <%= @engineer.email %>
</p>

<p>
  <%= @engineer.phone %>
</p>
